body {
    background-color: #f5ebe0; /* Fondo claro general */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh; /* Altura completa de la ventana */
}

.sidebar {
    width: 30%;
    background-color: #d9ab72; /* Color de la barra lateral */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 24px;
    color: #8b6e3d;
    margin-bottom: 30px;
    text-align: left;
    font-weight: bold;
}

.custom-button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #b48653; /* Botón en tonos marrones */
    color: white;
    border: none;
    border-radius: 20px; /* Borde redondeado como en la imagen */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #a37642; /* Efecto hover más oscuro */
}

.content {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7d7c1;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: #b48653; /* Fondo marrón claro */
    color: white;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 2px solid #fff;
    background-color: #f5ebe0; /* Color beige claro para las celdas */
    color: #8b6e3d; /* Texto marrón */
}

th {
    background-color: #d9ab72;
    font-weight: bold;
}

td:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
}