<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="button-container">
        <a href="{{ url_for('productos')}}">
            <button class="custom-button">Menu Productos</button>
        </a>
    </div>
    <div class="button-container">
        <a href="{{ url_for('pedidos')}}">
            <button class="custom-button">Menu pedidos.</button>
        </a>
    </div>
    <div class="button-container">
        <a href="{{ url_for('clientes')}}">
            <button class="custom-button">Menu clientes.</button>
        </a>
    </div>
</body>
</html>
