<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='productos.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="header">Menú Pedidos</div>
            <a href="{{ url_for('pedidos')}}">
                <button class="custom-button">Cargar pedido</button>
            </a>
            <a href="{{ url_for('pedidos')}}">
                <button class="custom-button">Modificar pedido</button>
            </a>
            <button class="custom-button" onclick="document.getElementById('formulario-eliminar').style.display='block'">Eliminar Pedido</button>
            <div id="formulario-eliminar">
                <h1>Eliminar un pedido</h1>
                <form action="{{ url_for('eliminar_pedido')}}" method="POST">
                    <label for="ID">ID:</label>
                    <input type="number" id="ID" name="ID" required>
                    <br>
                    <input type="submit" value="Eliminar">
                </form>
            </div>
            <a href="{{ url_for('index')}}">
                <button class="custom-button">Menú</button>
            </a>
        </div>
        <div class="content">
            <div class="table">
                <table>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Precio</th>
                    <th>Cliente</th>
                    <th>Marca del Producto</th>
                    <th>Nombre</th>
                    {% for pedido in pedidos %}
                    <tr>
                        {% for atributo in pedido %}
                        <td>{{atributo}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
