<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='productos.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="header">Menú Productos</div>
            <a href="{{ url_for('productos')}}">
                <button class="custom-button">Cargar producto</button>
            </a>
            <a href="{{ url_for('productos')}}">
                <button class="custom-button">Modificar producto</button>
            </a>
            <a href="{{ url_for('productos')}}">
                <button class="custom-button">Eliminar producto</button>
            </a>
            <a href="{{ url_for('index')}}">
                <button class="custom-button">Menú</button>
            </a>
        </div>
        <div class="content">
            <table>
                <tr>
                    <th>Marca</th>
                    <th>Nombre</th>
                    <th>Medida</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>Nautica</td>
                    <td>Nautica Blue</td>
                    <td>100 ml</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Dior</td>
                    <td>Miss Dior</td>
                    <td>50 ml</td>
                    <td>100</td>
                </tr>
                    </table>
        </div>
    </div>
</body>
</html>
